/* style.scss */

.jumbotron {
    background: #3e8acc;
    color: whitesmoke;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 25px;
}

.bg-gray {
    background: lightgray;
}

fa-icon {
    font-size: 150px;
    color: #3e8acc;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: solid #3e8acc;
    border-radius: 0;
    background: white;
}

.thumbnail span {
    display: inline-block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2% auto;
}

.rrss fa-icon {
    font-size: 30px;
}

/* Images*/

#resume {
    background-image: url('/content/images/resume.png');
    width: 100%;
    height: 510px;
    background-size: contain;
}

#company1 {
    background-image: url('/content/images/company1.png');
    width: 100%;
    height: 240px;
    background-size: contain;
}

#company2 {
    background-image: url('/content/images/company2.png');
    width: 100%;
    height: 240px;
    background-size: contain;
}
